.btn{
    background-color: white;
}










/*p{
    font-size: 12px;
}
p{
    font-size: 40px;
}


.btn{
    border: 2px solid red;
    background-color: blue;
    color: red;
    font-size: 32px;
}
.btn__secondary{
background-color: white;
    color: green;
    text-decoration: underline;
}
.btn__three{
    border: none;
    background-color: #04a5fd;
    color: black;
    text-decoration: underline;

}*/


/*.text{*/
/*    color: darkgrey;*/
/*    font-size: 36px;*/
/*    border: 1px solid orange;*/
/*    padding: 8px;*/
/*}*/